---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h3 class="title">Hey there 👋</h3>
        <p>I'm Austin Abbott, welcome to my dev blog!</p>
      </section>

      <section>
        <h4>Recent posts</h4>
        <div>
          <ul>
            {
              posts.map((post) => (
                <li>
                  {/* div prevents misaligned bullets in Firefox */}
                  <div>
                    <a href={`/blog/${post.slug}/`}>
                      <h5 class="title">{post.data.title}</h5>
                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </a>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
